{% extends 'layout/base.html' %}
{% load static %}

{% block scripts %}
<script defer src="{% static 'accounts/main.js' %}"></script>
{% endblock %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-light delete_button" value="Удалить">
    <input type="submit" class="btn btn-light block_button" value="Заблокировать">
    <input type="submit" class="btn btn-light unblock_button" value="Раблокировать">
</form>
<table class="table" id="table_users">
    <thead>
    <tr>
      <th><input onclick="toggle(this)" type="checkbox"></th>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Адрес электронной почты</th>
      <th scope="col">Дата регистрации</th>
      <th scope="col">Дата последнего входа на сайт</th>
      <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody id="table_body"></tbody>
</table>

{% endblock %}